[Desktop Entry]
Name=Harvest Moon 64 PC Port / Recomp
Exec=/app/bin/HarvestMoon64Recompiled
Type=Application
Icon=io.github.aitddlabs.harvestmoon64recompiled
Categories=Game;
Comment=Static recompilation of Harvest Moon 64 for PC.
MimeType=x-scheme-handler/harvestmoon64recompiled
